@font-face { 
	font-family: Museo;
	font-weight: @weight-regular;
	src: url('../res/fonts/Museo300-Regular.otf');
}
@font-face { 
	font-family: Museo;
	font-weight: @weight-bold;
	src: url('../res/fonts/Museo500-Regular.otf');
}

body h1 {
	font-family: Museo;
	font-size: 100px;
	text-shadow: 0px 1px 0px rgba(1, 5, 8, 0.4);
	display: inline-block;
	padding-top: 50px;

}

.ie{
	display: inline-block;
	position: absolute;
	top: 30%;
	left: 30%;
}
.warning-ie{
	width: 62.5%;
}
.logo-ie{
	padding-left: 100 px;
	float: left;
}

.content{
	display: inline;

}
.purple-border{
	border-color: rgba(117, 0, 201, 1);
	border-width: 1px;
	border-style: solid;
}
.awesome-info{
	display: inline;
	overflow: auto;
}
.iphone{
	float: right;
	padding-top: 100px;
	width: 320px;
	
}


@media screen and (min-width: 768px){
	div#carouselPreview ol.carousel-indicators {
		bottom: 25px;
	}
}

div#carouselPreview ol.carousel-indicators {
	bottom: -50px;
}


.carousel-indicators li{
    
    border-color: rgba(117, 0, 201, 1);
}
.carousel-indicators .active{
    background-color: rgba(117, 0, 201, .8);
    
}

.screenshot-img{
	width: 320px;
	height: auto;
}

.highlight{
	color: rgba(117, 0, 201, 1);
}
.logo-image{
	padding-bottom: 40px;
	

}

.awesome-container{
	position:absolute;
	width: 100%;
	top:0;
	left:0;
	font-family: Museo;
	background-color:rgba(255, 255, 255, 1) center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 740px;
  	z-index: 10;
  	padding-bottom: 5px; /*Footer height*/
  	height: 100%;


}

.map-container{
	
	position:absolute;
	width: 100%;

	top:0;
	left:0;
	font-family: Museo;
	background: url('../img/background.fw.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 740px;
  	z-index: -10;
  	height: 100%;

}



.purple-line{
	min-width: 100%;
	height: 5px;
	background-color: rgba(117, 0, 201, 1);
}
.bottom{
	position: absolute;
	bottom: 0;
	display: inline-block;
	
}

.top{
	position: absolute;
	top:0;
	display: inline-block;
	
}

form#subscribe .submit-button{
	background-color: rgba(117, 0, 201, 0.8);
	color: white;
}

form#subscribe .submit-button:hover{
	background-color: white;
	color: rgba(117, 0, 201, 0.8);
	border-color: rgba(117, 0, 201, 0.8);
}



.form-control:focus{
	border-color: rgb(117, 0, 201);
	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(117, 0, 201, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(117, 0, 201, 0.6);
}


form#subscribe div.alert{
	margin-top: 10px;
	width: 467px;
	padding:3px;
}



/*Demo*/

.preview-iframe{
	overflow: hidden;
	float: right;
}

.demo{
	padding-top: 100px;
}



/*Pitch*/

.awesome-pitch{
	position: absolute;
	left: 25%;
}


/*Team*/

.team{
	display: table-row;
	width: 100%;
}

.team-member{
	padding-right: 50px;
	width: 244px;
	display: table-cell;
}

div.team div.team-member .team-photo, .team-photo{
	border-color: rgba(117, 0, 201, 1.0);
	border-radius: 0px;
}

/* Animations */

@keyframes gamaChangePurple
{
	0%		{background-color: rgba(117, 0, 201, 1.0);}
	10%		{background-color: rgba(117, 0, 201, 0.9);}
	20%		{background-color: rgba(117, 0, 201, 0.8);}
	30%		{background-color: rgba(117, 0, 201, 0.7);}
	50%		{background-color: rgba(117, 0, 201, 0.6);}
	60%		{background-color: rgba(117, 0, 201, 0.5);}
	70%		{background-color: rgba(117, 0, 201, 0.4);}
	80%		{background-color: rgba(117, 0, 201, 0.3);}
	90%		{background-color: rgba(117, 0, 201, 0.2);}
	100%	{background-color: rgba(117, 0, 201, 0.1);}
}

@-webkit-keyframes gamaChangePurple 
{
	0%		{background-color: rgba(117, 0, 201, 1.0);}
	10%		{background-color: rgba(117, 0, 201, 0.9);}
	20%		{background-color: rgba(117, 0, 201, 0.8);}
	30%		{background-color: rgba(117, 0, 201, 0.7);}
	50%		{background-color: rgba(117, 0, 201, 0.6);}
	60%		{background-color: rgba(117, 0, 201, 0.5);}
	70%		{background-color: rgba(117, 0, 201, 0.4);}
	80%		{background-color: rgba(117, 0, 201, 0.3);}
	90%		{background-color: rgba(117, 0, 201, 0.2);}
	100%	{background-color: rgba(117, 0, 201, 0.1);}
}

.purple-animate{
	animation: gamaChangePurple 10s linear 0s infinite alternate;
	-webkit-animation: gamaChangePurple 10s linear 0s infinite alternate;
}



@keyframes gamaChangeWhite
{
	0%		{background-color:rgba(255, 255, 255, 1.0);}
	10%		{background-color:rgba(255, 255, 255, 0.9)}
	20%		{background-color:rgba(255, 255, 255, 0.8)}
	30%		{background-color:rgba(255, 255, 255, 0.7)}
	50%		{background-color:rgba(255, 255, 255, 0.6)}
	60%		{background-color:rgba(255, 255, 255, 0.5)}
	70%		{background-color:rgba(255, 255, 255, 0.4)}
	80%		{background-color:rgba(255, 255, 255, 0.3)}
	90%		{background-color:rgba(255, 255, 255, 0.2)}
	100%	{background-color:rgba(255, 255, 255, 0.1)}
}

@-webkit-keyframes gamaChangeWhite
{
	0%		{background-color:rgba(255, 255, 255, 1.0);}
	10%		{background-color:rgba(255, 255, 255, 0.9)}
	20%		{background-color:rgba(255, 255, 255, 0.8)}
	30%		{background-color:rgba(255, 255, 255, 0.7)}
	50%		{background-color:rgba(255, 255, 255, 0.6)}
	60%		{background-color:rgba(255, 255, 255, 0.5)}
	70%		{background-color:rgba(255, 255, 255, 0.4)}
	80%		{background-color:rgba(255, 255, 255, 0.3)}
	90%		{background-color:rgba(255, 255, 255, 0.2)}
	100%	{background-color:rgba(255, 255, 255, 0.1)}
}

.white-animate{
	animation: gamaChangeWhite 10s linear 0s infinite alternate;
	-webkit-animation: gamaChangeWhite 10s linear 0s infinite alternate;
}
/** Add icons as fonts **/

@font-face {
  font-family: 'fontello';
  src: url('../res/fonts/fontello.eot?98528402');
  src: url('../res/fonts/fontello.eot?98528402#iefix') format('embedded-opentype'),
       url('../res/fonts/fontello.woff?98528402') format('woff'),
       url('../res/fonts/fontello.ttf?98528402') format('truetype'),
       url('../res/fonts/fontello.svg?98528402#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?98528402#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-profile:before { content: '\e802'; } /* '' */
.icon-trip:before { content: '\e800'; } /* '' */
.icon-group:before { content: '\e801'; } /* '' */
.icon-clear:before { content: '\e804'; } /* '' */
.icon-road:before { content: '\e803'; } /* '' */