<div ng-controller="FriendsCtrl" id ="header"> 
	<div class=" container home-header">
		<button ng-click="$navigate.go('/', true)" id="btn-awesome-friends" type="button" class= "btn-awesome-header" >
				<img class="home-awesome-icon" src="img/awesome_icon.png">
		</button>
		<div id="friends-title" class= "container section-title-container">
			<span class="section-title"> Friends</span>
  		</div>
	</div>
	
	<div id="search" class= "container home-header-menu">
  			<input ng-model="searchFriend.name" class="searchInput input-lg form-control" type="text" placeholder="Search friends">
	</div>

	<div class="friends-list">
		<ul class= "list-group">
				<li class="list-group-item" ng-repeat="friend in friends | filter:searchFriend">
					<i class="{{friend.img}} result-icon"></i>  <span class="friend-name">{{friend.name}}</span>
				</li>
		</ul>
	<div>

	
</div>

